body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown-toggle::after {
  display:none !important;
}
.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

.btn:focus {
  outline: none !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.box, .box1{
  min-width: 200px;
}
.box1{
  max-width: 320px;
}
.box{
  max-width: 880px;
}
.icon{
  min-width: 90px;
  max-width: 130px;
}